@font-face {
    font-family: "vazir";
    src: url(../fonts/Vazirmatn-Black.woff2);
    src: url(../fonts/Vazirmatn-Bold.woff2);
    src: url(../fonts/Vazirmatn-ExtraBold.woff2);
    src: url(../fonts/Vazirmatn-ExtraLight.woff2);
    src: url(../fonts/Vazirmatn-Light.woff2);
    src: url(../fonts/Vazirmatn-Medium.woff2);
    src: url(../fonts/Vazirmatn-Regular.woff2);
    src: url(../fonts/Vazirmatn-SemiBold.woff2);
    src: url(../fonts/Vazirmatn-Thin.woff2);
    src: url(../fonts/Vazirmatn[wght].woff2);
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto","vazir";
}
